.btn {
  padding: 10px;
  line-height: 25px;
  > span {
    &.icon, &.glyphicon {
      font-size: 14px;
      padding: 5px;
    }
  }
}

.btn-secondary {
  @include button-variant($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border);
}

.btn-cancel {
  @include button-variant($btn-cancel-color, $btn-cancel-bg, $btn-cancel-border);
}


//  ============================================================
//  colors
//  ============================================================

.btn-primary {
  border: none;

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    color: $color-q3;
    background-color: $color-q1;
    &:focus,
    &:hover {
      background-color: $color-q1;
    }
  }

  color: $btn-primary-color;

  &:focus,
  &:hover {
    background-color: $btn-primary-bg-hover;
    border-color: $btn-primary-border-hover;
  }

  &:active {
    background-color: $btn-primary-bg-hover;
    border-color: $btn-primary-border-hover;
  }
}

.btn-secondary {

  color: $btn-secondary-color;

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    color: $color-q1;
    background-color: $color-q3;
    border-color: $color-q1;
    &:focus,
    &:hover {
      color: $color-q1;
      background-color: $color-q3;
      border-color: $color-q1;
    }
  }
  
  &:focus,
  &:hover {
    color: $color-secondary;
    background-color: $btn-secondary-bg-hover;
    border-color: $btn-secondary-border-hover;
  }

  &:active {
    color: $color-secondary;
    background-color: $btn-secondary-bg-hover;
    border-color: $btn-secondary-border-hover;
  }
}

.btn-cancel {

  color: $btn-cancel-color;
  border-color: $color-tertiary;

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    color: $color-q1;
    background-color: $color-q3;
    border-color: $color-q1;
    &:focus,
    &:hover {
      color: $color-q1;
      background-color: $color-q3;
      border-color: $color-q1;
    }
  }
  
  &:focus,
  &:hover {
    color: #888;
    background-color: $color-q3;
    border-color: #888;
  }

  &:active {
    color: #888;
    background-color: $color-q3;
    border-color: #888;
  }
}

.btn-link {
  &.help {
    font-size: $link-font-size;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    color: $color-q1;
    background-color: $color-q3;
    border-color: none;
    &:focus,
    &:hover {
      color: $color-q1;
      background-color: $color-q3;
      border-color: none;
    }
  }

}