.nav-tabs {
  > li {
    > a {
      padding: 20px;
      color: $nav-tabs-color;
      @include border-radius(0px);  
    }
  }
  @media (max-width: $screen-xs-max) {
    > li {
      > a {
        color: $nav-tabs-color;
        padding: 15px;
        &:hover,
        &:focus {
          background: none;
          border: 1px solid transparent;
        }
      }
      &.active {
        @include p-el(before, 100%, 3px) {
          background: $color-q1;
          bottom: -3px;
        }
        > a {
          &,
          &:hover,
          &:focus {
            color: $nav-tabs-color;
            background: none;
            border: 1px solid transparent;
          }  
        }
      }
    }
  }
}