.pagination {
    > li {
        > a {
            @include border-radius(100px);
            border: none;
            margin: 0 5px;
            padding: 2px 8px;
            line-height: 1.44;
            font-size: 14px;
        }
        &.control {
            > a {
                font-size: 24px;
                color: $color-q2;
                border: none;
                background: none;
                margin: 0;
                padding: 0;
                line-height: 0.7;
            }
        }
    }
}