.table-primary {
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        border: 1px solid $table-border-color;
        &:first-child {
          border-left: none; 
        }
        &:last-child {
          border-right: none; 
        }
      }
    }
  }

  > thead > tr > th {
    vertical-align: middle;
    text-align: center;
    font-weight: normal;
  }
}

.table-secondary {
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        border: 1px solid $table-secondary-bd-color;
        background-color: $table-secondary-bg-color;
        &:first-child {
          border-left: none; 
        }
        &:last-child {
          border-right: none; 
        }
      }
    }
  }
  > thead > tr > th {
    &:first-child {
      @include border-radius( 6px 0 0 0);
    }
    &:last-child {
      @include border-radius( 0px 6px 0 0);
    }
  }
  
   > tbody > tr:last-child td {
    &:first-child {
      @include border-radius( 0 0 0 6px);
    }
    &:last-child {
      @include border-radius( 0 0 6px 0);
    }
   }

  > thead > tr > th {
    vertical-align: middle;
    text-align: left;
    font-weight: bold;
    color: $table-secondary-color;
    background-color: $table-secondary-head-color;
  }
}




.table-responsive {
  &, thead, tbody, tfoot, tr, th, td, td[class*="col-"], th[class*="col-"] {
    @media (max-width: $screen-sm-max) {
      display: block;
      white-space: normal;
    }
  }

  tr {
    @media (max-width: $screen-sm-max) {
      padding: $grid-gutter-width-mobile;
    }
  }

  > thead > tr > th,
  > thead > tr > td,
  > tbody > tr > th,
  > tbody > tr > td,
  > tfoot > tr > th,
  > tfoot > tr > td {
    @media (max-width: $screen-sm-max) {
      border-top: 0;
      padding: ($grid-gutter-width-mobile * 0.25) 0;
    }
  }

  > thead > tr > th,
  > tbody > tr > th,
  > tfoot > tr > th {
    @media (max-width: $screen-sm-max) {
      padding-bottom: ($grid-gutter-width-mobile * 0.5);
    }
  }
}