//  typography styles
//

::selection {
  color: #fff;
  background: $brand-primary;
}

::-moz-selection {
  color: #fff;
  background: $brand-primary;
}

//  ============================================================
//  text
//  ============================================================
.text-sm {
  @media (max-width: $screen-sm-max) {
    font-size: $font-size-small-mobile;
  }

  @media (min-width: $screen-md-min) {
    font-size: $font-size-small;
  }
}

.text-lg {
  @media (max-width: $screen-sm-max) {
    font-size: $font-size-large-mobile;
  }

  @media (min-width: $screen-md-min) {
    font-size: $font-size-large;
  }
}

.text-ellipse {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-wrap {
  word-wrap: break-word;
}

.text-nowrap {
  white-space: nowrap;
}

.text-uppercase {
  text-transform: uppercase !important;

  &:first-letter {
    @extend .text-uppercase;
  }
}

.text-lowercase {
  text-transform: lowercase !important;

  &:first-letter {
    @extend .text-lowercase;
  }
}

.text-capitalize {
  text-transform: capitalize !important;

  &:first-letter {
    @extend .text-capitalize;
  }
}

//  ============================================================
//  headings
//  ============================================================

h1, h2, h3, h4, h5, h6 {
  text-transform: $headings-transform;

  @media (max-width: $screen-sm-max) {
    color: $heading-color-mobile;
    line-height: 1.3em;
    margin: $font-margin-headings-mobile;
  }

  .h-group & {
    margin: 0 0 ($font-size-small * 0.5);

  }

  header & {
    @media (min-width: $screen-md-min) {
      margin-bottom: $headings-header-margin-bottom;
      margin-top: $headings-header-margin-top;
    }
  }
}

h1 {
  @media (max-width: $screen-sm-max) {
    font-size: $font-size-h1-mobile;
  }
}

h2 {
  @media (max-width: $screen-sm-max) {
    font-size: $font-size-h2-mobile;
  }
}

h3 {
  @media (max-width: $screen-sm-max) {
    font-size: $font-size-h3-mobile;
  }
}

h4 {
  @media (max-width: $screen-sm-max) {
    font-size: $font-size-h4-mobile;
  }
}

h5 {
  @media (max-width: $screen-sm-max) {
    font-size: $font-size-h5-mobile;
  }
}

h6 {
  @media (max-width: $screen-sm-max) {
    font-size: $font-size-h6-mobile;
  }
}

.page-title {
  margin-bottom: $page-title-margin;
  text-transform: $page-title-text-transform;

  @media (max-width: $screen-sm-max) {
    margin-bottom: $page-title-margin-mobile;
  }
}

.h-group {
  h1, h2, h3, h4, h5, h6, p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

//  ============================================================
//  links
//  ============================================================
a,
.link {
  @media (max-width: $screen-xs-max) {
    text-decoration: underline;
  }

  // disable
  &.disabled,
  &[disabled] {
    @include opacity(.5);
    cursor: not-allowed;
    pointer-events: none;

    &:hover {
      color: $text-color;
    }
  }

  //
  .text-primary & {
    color: $brand-primary;

    &:hover {
      color: $link-hover-color;
    }
  }

  .text-success & {
    color: $state-success-text;

    &:hover {
      color: $link-hover-color;
    }
  }

  .text-info & {
    color: $state-info-text;

    &:hover {
      color: $link-hover-color;
    }
  }

  .text-warning & {
    color: $state-warning-text;

    &:hover {
      color: $link-hover-color;
    }
  }

  .text-danger & {
    color: $state-danger-text;

    &:hover {
      color: $link-hover-color;
    }
  }

  .text-error & {
    // color: $state-error-text;

    &:hover {
      color: $link-hover-color;
    }
  }

  .link-default {
    color: $text-color;
  }

  h1 &,
  h2 &,
  h3 &,
  h4 &,
  h5 &,
  h6 &,
  nav & {
    text-decoration: none;
  }
}

.caption-title {
  @media (max-width: $screen-sm-max) {
    color: $caption-color-mobile;
    font-size: $font-size-caption-mobile;
  }
}

.link-static {
  text-decoration: underline;
}
