$color-primary:         #008578;
$color-secondary:       #49c5b1;
$color-tertiary:        #666;
$color-positive:        #2AE9C3;
$color-neutral:         #FBB500;
$color-negative:        #CF4D46;

$color-q1: #ddd;
$color-q2: #eee;
$color-q3: #fff;
